.table-head {
    background-color: lightgray;
    text-wrap: nowrap;
}

.table-cell {
    font-size: small !important;
    font-weight:600 !important;
}

.no-record {
    text-align: center;
    padding: 0.2vmax;
}

.table-container{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    max-width: 80vw;
}