.checkIn-list {
height: 1000px;  /* didn't made it vmax coz on small screen it will go in accordian*/
width: 100%;
overflow-y: scroll !important;
scrollbar-width: thin !important;
scrollbar-color: #999 #f0f0f0 !important;
}

.listItem {
    padding: 0.1vmax !important;
    font-size: smaller !important;
    
}

/* @media (max-width: 767px) {
    .listItem {
        font-size: medium !important;
    }
    .checkIn-list {
        width: 80vw !important;
    }
  } */
/* 
.checkIn-list::-webkit-scrollbar-thumb {
    border-radius: 16px !important; 
} */